.events_wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.events {
  height: 366px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event_gen_info {
  width: 70.5%;
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_info_wrapper {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  width: 28%;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_gen_info{
  height: 150px;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_show_header {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.event_show_header img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.title_header {
  background-color: white;
  width: 100%;
  display: flex;
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.title_header h2{
  margin: 0;
  text-align: left;
}

.title_content {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}

.title_info {
  margin-left: 36px;
}

.event_main_wrapper {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.event_main_info{
  width: 70%;
  float: left;
  font-size: 14px;
}

.event_side_info {
  width: 30%;
  float: left;
}

.event_description_wrapper {
  margin-right: 24px;
}

.event_description {
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.form_field {
  input[type=checkbox] {
    width: 20px;
  }
}

.event_main_wrapper h4 {
  letter-spacing: 1px;
  margin-bottom: 12px;
}

#map {
  height: 300px;
  width: 100%;
}

#event_show_heading {
  padding-top: 24px;
}

.event_show_date {
  text-align: center;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 36px;
  border-right: solid 1px #d4d4d4;
}

.event_show_day {
  font-size: 36px;
  font-weight: 600;
  padding-top: 6px;
}

.title_info > h2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title_date {
  font-size: 12px;
}

.title_location {
  font-size: 12px;
  color: #7f7f7f;
}

.groups_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  transform: translateY(-379px);
  transition: transform 0.3s ease;
}

.shift {
  transform: translateY(24px);
}

.groups_wrapper {
  margin-right: 24px;
  margin-top: 12px;
  overflow: hidden;
}

.groups {
  display: inline-block;
  flex-grow: 1;
  display: flex;
  flex: 1 0 280px;
  // flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  // width: 30%;
  // min-width: 270px;
  list-style-type: none;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
}

// Hacky fix for adding 2 ghost groups to fill space
.groups:nth-last-child(-n+2){
  background: rgba(116, 240, 32, 0);
  box-shadow: 0 0 0 rgba(29, 31, 230, 0);
  border: 0;
}

.groups_content {
  height: 255px;
  padding: 24px;
  h4 {
    text-transform: uppercase;;
    letter-spacing: 0;
    a {
      color: #262626;
    }
  }
  p {
    margin-top: 24px;
    line-height: 24px;
    font-size: 12px;
  }
}


.groups_content:nth-child(3n-1){
  margin-left: 24px;
  margin-right: 24px;
}

.groups_content ul > li {
  list-style-type: none;
}

.groups_content ul {
  padding-left: 0;
  display: flex;
  li {
    padding-left: 12px;
  }
  li:first-child {
    padding-left: 0;
  }
}

#group_name{
  a {
    color: #262626;
  }
}

.heading_btn {
  margin-top: 24px;
  display: flex;
  align-items: center;
  h4 {
    margin-bottom: 0;
  }
}

.heading_btn a {
  color: #262626;
  letter-spacing: 1px;
  transition: transform .2s ease-out;
  display: inline-block;
}

.heading_btn a:hover {
  transform: translate(5px,0);
}

.heading_btn > p {
  padding-left: 24px;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin: 0;
}

.new_group_form_container {
  display: inline-block;
  width: 100%;
  transform: translateY(-392px);
  transition: transform 0.3s ease;
  .form_content {
    background-color: white;
    border: solid 1px #d4d4d4;
    .event_going {
      justify-content: flex-end;
    }
  }
}

//FORM DISPLAY PROPERTIES

.formdisp {
  transform: translateY(0);
}

.close_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

#closegroupform {
  cursor: pointer;
}

#single_group {
  transform: translateY(0);
  transition: transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}

#create_group_btn_container {
  width: 110%;
  overflow: hidden;
}

// EVENT SHOW - Eventrs Going

.event_show_eventrs_going {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -6px;
  margin-right: -6px;
}

.event_show_eventrs_going_thumbnail {
  list-style-type: none;
  height: 44px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  img {
    border-radius: 50%;
  }
}
