.index_main {
  margin-top: 70px;
  h3 {
    padding: 0 6px 0 6px;
  }
  #events_near_you {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    height: 807px;
    margin: 0 -12px 0 -12px;
    .event_container {
      min-width: 292px;
    }
  }
}
