// NAV BAR

@media screen and (max-width:966px){
  .nav_links {
    display: none;
  }
}

// Remove links, extend search bar, show dropdown menu
@media screen and (max-width:1240px){
  .nav_links {
    display: none;
  }
  .nav_search {
    flex-grow: 1;
    width: auto;
  }
  .dropdown_mobile {
    display: block;
  }
}

@media screen and (max-width:589px){
  .logo {
    display: none;
  }
  .logo_sm {
    display: flex;
  }
  .dropdown_mobile {
    display: block;
  }

}

@media screen and (max-width:307px){
  .nav_search {
    margin-left: 12px;
  }
}

@media screen and (max-width:822px){
  nav {
    padding: 0 24px 0 24px;
  }
}

// HOME PAGE

@media screen and (min-width:416px) and (max-width:801px){
  .event_container {
    min-width: inherit;
    max-width: none;
  }
  .event_img {
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width:415px){
  .owl-carousel{
    margin-top: 24px !important;
  }
  .event_container {
    min-width: inherit;
    max-width: none;
  }
  .index_main {
    margin-top: 36px !important;
  }
}

@media screen and (max-width:1210px){
  .carousel_item_container {
    height: 100%;
  }
}

@media screen and (max-width:587px){
  .carousel_item {
    width: 100vw;
  }
}

@media screen and (max-width:501px){
  .index_main {
    margin: 36px 24px 0 24px;
    #events_near_you {
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width:501px){
  .index_main {
    margin: 36px 24px 0 24px;
    #events_near_you {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width:1129px){
  .index_main {
    #events_near_you {
      height: 1221px;
    }
  }
}

@media screen and (min-width:1086px) {
  .owl-prev {
    position: relative;
    left: 24px;
  }
  .owl-next {
    position: relative;
    right: 24px;
  }
}


// EVENT INDEX

@media screen and (max-width:1140px){
  .index_search {
    display: none !important;
  }
  .event_index_search_mobile {
    display: flex !important;
    justify-content: center;
  }
}

@media screen and (max-width:501px){
  .event_index_search_mobile, .events_all {
    margin-left: 24px;
    margin-right: 24px;
  }
}


// Event containers fill page when down to 1 column
@media screen and (max-width:812px){
  .event_container {
    width: 100%;
    .event_img img{
      height: auto;
    }
  }
  .event_name_time_loc {
    max-width: none;
  }
}

@media screen and (max-width:836px){
  .events_all {
    .event_container {
      width: 100%;
      .event_img img{
        height: auto;
      }
    }
  }
}

// EVENT SHOW

@media screen and (max-width:848px){
    .event_main_info {
      width: 100%;
    }
    .event_side_info {
      width: 100%;
    }
    .event_map_wrapper {
      flex-basis: 100%;
      padding-right: 0;
      box-sizing: border-box;
      margin-top: 24px;
        #map {
          height: 200px;
        }
    }
    .event_description_wrapper {
      margin-right: 0;
    }
}

@media screen and (max-width:822px){
  .title_content {
    margin: 0 24px 0 24px;
  }
  .event_main_wrapper {
    margin: 24px 24px 0 24px;
  }
}

@media screen and (max-width:520px){
  .event_show_header {
    height: 230px;
    img {
      height: 100%;
      width: auto;
    }
  }
}

@media screen and (max-width:484px){
  .new_group_form_container {
    transform: translateY(-404px);
  }
  .formdisp {
    transform: translateY(0);
  }
  .groups_container {
    transform: translateY(-400px);
  }
  .shift {
    transform: translateY(24px);
  }
}

@media screen and (max-width:414px){
  .title_content {
    margin: 0 24px 0 24px;
  }
  .title_info {
    h2 {
      font-size: 16px;
      margin-top: 6px;
    }
  }
}

@media screen and (max-width:848px){
  .groups_content {
    height: auto;
  }
  .groups_wrapper {
    margin-right: 0;
  }
}

@media screen and (min-width:849px) and (max-width:1140px){
  .event_main_info {
    width: 100%;
  }
  .event_map_wrapper {
    flex-basis: 75%;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .event_side_info {
    display: flex;
    float: none;
    width: 100%;
    margin: 24px 0 24px 0;
  }
  #event_show_heading {
    padding-top: 0;
  }
  .event_show_eventrs_going_container {
    flex-basis: 25%;
  }
}

// USER PROFILE

// Removes p class for mobile
@media screen and (max-width:495px){
  #edit_profile_text {
    display: none;
  }
}

// FOOTER

@media screen and (max-width:1013px) {
  footer {
    flex-wrap: wrap;
    // flex-direction: column;
    .footer_main {
      width: 100%;
      img {
        width: 154px;
      }
      .button_sm_outline_black {
        width: 120px;
      }
    }
    .footer_company, .footer_eventrs, .footer_hostrs {
      margin-top: 36px;
    }
  }
}

@media screen and (max-width:822px){
  footer {
    padding: 0 24px 0 24px !important;
  }
}
