<div class="new_group_form_container">

  <%= form_for ([@event, @group]) do |f| %>
  <a id="closegroupform" href="">Close</a> <br>

  <div class="form_content">

    <div class="form_field">
      <%= f.text_field :name, placeholder: "DESCRIPTION" %>
    </div>

    <div class="form_field">
      <%= f.text_field :description, placeholder: "DESCRIPTION"%>
    </div>

    <%= f.submit 'create group' %>

    <%end%>

  </div>

</div>
