<h1> <%= "#{@user.eventrinfo.first_name}" %> <%= "#{@user.eventrinfo.last_name}" %></h1>
<div class= "about">
  Bio: <%= "#{@user.eventrinfo.bio}" %>

<% if current_user == @user %>
<p>
<%= link_to "Edit your profile", edit_user_eventrinfo_path(@user) %>
</p>
<%end%>
