<h1> <%= @event.name %> </h1>

<%= render 'single_event', event: @event %>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete the event #{@event.name}? This cannot be undone!"}%>
