<div class="index_header_container">

  <div class="index_header">
    <div id="jlegend">
      <span class="starboy">STARBOY: LEGEND OF THE FALL 2017 WORLD TOUR</span>
    </div>
    <%= image_tag "header-john-legend.jpg" %>
  </div>

</div>

<div class="index_search">
  TEST
</div>
