<div class="index_header_container">

  <div class="index_header">
    <div class="jlegend">
      <div class="jlegend_text">
        <h3>JOHN LEGEND</h3>
      </div>
    </div>
    <%= image_tag "header-john-legend.jpg" %>
  </div>

</div>

<div class="index_search">
  <div class="search_inputs">
    <div class="search_search">
      <div class="search_label">
        <h5>SEARCH</h6>
        </div>
      <div class="search_field">
        <h4>The Weeknd</h4>
      </div>
    </div>

    <div class="search_where">
      <div class="search_label">
        <h5>WHERE</h6>
        </div>
      <div class="search_field">
        <h4>Toronto</h4>
      </div>
    </div>

    <div class="search_category">
      <div class="search_label">
        <h5>CATEGORY</h6>
        </div>
      <div class="search_field">
        <h4>Music</h4>
      </div>
    </div>

  </div>

  <div class="button_search">
    <h4>SEARCH</h4>
  </div>

</div>
