/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: "Gotham", "Helvetica", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 100px;
}

nav {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

hr {
  position: relative;
  left: -5%;
  width: 110%;
  border-color: #ebebeb;
  margin-top: 24px;
}

.logo {
  width: 157px;
  display: inline-block;
}

.nav_links {
  display: inline-block;
  list-style-type: none;
  float: right;
}

.nav_links a {
  padding-left: 50px;
  color: #333333;
}

.header_slider {
  overflow: hidden;

}

#header_image_container {
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  background-image: url("https://static.pexels.com/photos/196652/pexels-photo-196652.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.index_main {
  margin-top: 70px;
}

#events_near_you {
  display: flex;
  max-width: 1200px;
  /*margin: auto;*/
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;

}

.event_container {
  border: solid 1px #ababab;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  overflow: hidden;
}

.event_img {
  max-height: 184px;
  overflow: hidden;

}

.event_img img{
  width: 100%;
}

.event_content {
  padding: 24px;
}

.event_date {
  display: inline-block;
  text-align: center;
  float: left;
  padding-right: 30px;
}

.event_mon {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.event_day {
  font-size: 24px;
  font-weight: 600;
}

.event_name_time_loc {
  display: inline-block;
}

.event_name {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.event_time {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 400;
}

.event_location {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #7f7f7f;
}
