footer {
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  margin: 100px 0 100px 0;
  padding: 0 100px 0 100px;
  div {
    display: flex;
    flex-direction: column;
    h4 {
      font-weight: 400;
      letter-spacing: 1px;
    }
    a {
      font-size: 12px;
      color: #7f7f7f;
    }
  }
}

// Column with logo and contact button
.footer_main{
  margin-right: 3em;
  .button_sm_outline_black {
    margin-top: 24px;
  }
}

.footer_company, .footer_eventrs, .footer_hostrs {
  flex-grow: 2;
}
