.carousel_item_container{
height: 543px;
overflow: hidden;
}

.carousel_item_text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  color: white;
  letter-spacing: 4px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  .button_container {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  .button_sm_outline {
    text-align: center;
    border: solid 2px white;
    width: 200px;
    padding: 15px 0 15px 0;
    h4{
      font-size: 12px;
    }
  }
}

.carousel_item {
  width: 80vw;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(30px);
  transition: transform 1.0s ease;
}

.home_event_name {
  transform: translateY(30px);
  transition: transform 1.0s ease;
}

#home_event_buy_btn {
  transform: translateY(30px);
  transition: transform 1.0s ease;
}

.home_event_name_slide {
  transform: translateY(0);
}

.home_event_buy_slide {
  transform: translateY(0);
}

.carousel_item_slide_up {
  transform: translateY(0);
}

.owl-carousel {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.owl-nav {
  justify-content: space-between !important;
  width: 99vw;
  color: white;
  position: absolute;
}

#weeknd_text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weeknd_text > h2{
  color: white;
  text-align: center;
}

.starboy {
  font-size: 36px;
  color: white;
  width: 100%;
  text-align: center;
}

.owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-prev, .owl-next {
  padding-left: 12px;
  padding-right: 12px;
}
