/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*GLOBAL*/

html {
  font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
  color: #262626;
  background-color: #f8f8f8;
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 100px;
}

nav {
  font-size: 16px;
  background-color: white;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

main {
  margin-left: 100px;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7f7f7f;
}

input {
  width: 100%;
}

input:focus {
  outline-width: 0;
}

input[type=text] {
  margin-top: 8px;
  font-size: 16px;
  border: 0;
}

input[type=date] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=time] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=number] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  margin: 0;
}

h5 {
  font-size: 12px;
  margin: 0;
}

h6 {
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}

hr {
  position: relative;
  left: -15%;
  width: 140%;
  border-color: #ebebeb;
  margin: 0;
}

/*NAV*/

.logo {
  width: 153px;
  display: inline-block;
}

.nav_links {
  display: inline-block;
  list-style-type: none;
  float: right;
}

.nav_links > h4 {
  display: inline-block;
  margin: 0;
}

.nav_links a {
  padding-left: 50px;
  color: #333333;
}

.button_sm {
  background-color: #262626;
  color: white;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
}

.button_sm a {
  color: white;
}

.link {
  color: #262626;
}

.link:hover {
  color: #7f7f7f;
}

.form_container {
  margin: auto;
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 900px;
}

.new_event {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.new_event p{
  margin: 0;
}

.invis_temp {
  position: absolute;
  display: none;
}

#input_name {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-basis: 50%;
  flex-grow: 1;
}

#input_location {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-grow: 1;
}

#input_description {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-basis: 50%;
  flex-grow: 1;
}

#input_date {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-basis: 21.7%;
  flex-grow: 1;
}

#input_image {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-basis: max-content;
}

#input_price {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-basis: max-content;
  flex-grow: 1;
}

#input_time {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-grow: 1;
}

#input_eventstyle {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-grow: 1;
  flex-basis: 1;
}

#input_musicstyle {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-grow: 1;
  flex-basis: 1;
}

#input_image_location {
  flex-grow: 1;
}

.input_field p {
  margin: 0;
}

input[type=submit] {
  position: relative;
  background-color: #262626;
  color: white;
  font-size: 16px;
  width: 200px;
  margin-top: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  border: solid 1px #262626;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.submit {
  flex-basis: 100%;
}

/* HOME */

.carousel_container {
  display: flex;
  height: 543px;
  width: 100%;
  padding-top: 70px;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  height: 100%;
  display: inline-flex;
}

.carousel_item {
  height: 100%;
  width: 1048px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.carousel_item > img {
  width: 100%;
}

#weeknd_text {
  left: 0;
  top: 360px;
  position: absolute;
  width: 100%;
}

#weeknd_text > h2{
  color: white;
}

.starboy {
  font-size: 36px;
  color: white;
}
