/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require section
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/*GLOBAL*/

html {
  font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
  color: #262626;
  background-color: #f8f8f8;
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 100px;
}

nav {
  font-size: 16px;
  background-color: white;
  height: 94px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7f7f7f;
}

// Removes chrome autocomplete fill
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
  width: 100%;
}

input:focus {
  outline-width: 0;
}

input[type=text] {
  margin-top: 8px;
  font-size: 16px;
  border: 0;
}

input[type=date] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=time] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=number] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=email] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=password] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=file] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  margin: 0;
}

h5 {
  font-size: 12px;
  margin: 0;
}

h6 {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

hr {
  position: relative;
  left: -15%;
  width: 140%;
  border-color: #ebebeb;
  margin: 0;
}

.form_field {
  background-color: white;
  padding: 24px;
  border: solid 1px #d4d4d4;
}

/*NAV*/

.logo {
  width: 153px;
  display: inline-block;
  img {
    height: 24px;
  }
}

.nav_links {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  h4 {
    display: inline-block;
    margin: 0;
  }
  a {
    position: relative;
    margin-left: 50px;
    padding-bottom: 4px;
    color: #333333;
    text-decoration: none;
  }
  a:before{
    content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #333333;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before{
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }
  a:hover{
    color: #333333;
  }
}

.profile_thumbnail_wrapper {
  margin-left: 50px;
}

.profile_thumbnail {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  overflow: hidden;
  img {
    position: absolute;
    height: 44px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  img:hover {
  }
}

.profile_member {
  img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    opacity: 1.0;
  }
  img:hover {
    opacity: 0.5;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#myDropdown {
  top: 100px;
  right: 80px;
  background-color: white;
  border: solid 1px #d4d4d4;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 5;
  img {
    width: 23px;
    position: absolute;
    right: 29px;
    top: -11.2px;
  }
  a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  a:hover:before{
    visibility: hidden;
  }
  a:hover {
    background-color: #f2f2f2;
  }
}

#dropdown_profile_link {
  border-bottom: solid 1px #d4d4d4;
}

.show {
  display: flex;
  flex-direction: column;
}

.nav_search {
  display: flex;
  padding-top: 2px;
  img {
    height: 14px;
    padding-right: 12px;
  }
}

.button_to {
  input[type=submit] {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 150px;
  }
}

#search-form {
  height: 20px;
  display: flex;
  align-items: center;
  input[type=text] {
    width: 250px;
    margin: 0;
    letter-spacing: 1px;
    font-family: "Montserrat";
    font-weight: 300;
    padding-bottom: 6px;
    border-bottom: solid 1px #d4d4d4;
  }
  input[type=submit]{
    position: relative;
    font-size: 16px;
    width: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    float: right;
    border: solid 1px #262626;
    cursor: pointer;
  }
}

.button_sm {
  background-color: #262626;
  color: white;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
  a {
    color: white;
  }
}

.button_search {
  height: 90px;
  background-color: #262626;
  display: flex;
  align-items: center;
}

.button_search h4{
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  letter-spacing: 1px;
}

.button_sm, .button_search {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.button_sm:hover, .button_search:hover, input[type=submit]:hover {
  background-color: #595959;
}

.link {
  color: #262626;
}

.link:hover {
  color: #7f7f7f;
}

.form_container {
  margin: auto;
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 900px;
}

.new_event {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  p{
    margin: 0;
  }
}

.invis_temp {
  position: absolute;
  left: 0;
  top: 60px;
  /*display: none;*/
}

#input_name, #input_location, #input_description,
#input_date, #input_image, #input_price, #input_time,
#input_eventstyle, #input_eventstyle {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
}

#input_name {
  flex-basis: 50%;
  flex-grow: 1;
}

#input_location {
  flex-grow: 1;
}

#input_description {
  flex-basis: 50%;
  flex-grow: 1;
}

#input_date {
  flex-basis: 21.7%;
  flex-grow: 1;
}

#input_image {
  flex-basis: max-content;
}

#input_price {
  flex-basis: max-content;
  flex-grow: 1;
}

#input_time {
  flex-grow: 1;
}

#input_eventstyle {
  flex-grow: 1;
  flex-basis: 1;
}

#input_musicstyle {
  flex-grow: 1;
  flex-basis: 1;
}

#input_image_location {
  flex-grow: 1;
}

.input_field p {
  margin: 0;
}

input[type=submit] {
  font-family: "Montserrat";
  font-weight: 400;
  position: relative;
  background-color: #262626;
  color: white;
  font-size: 16px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  border: none;
  cursor: pointer;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.submit {
  flex-basis: 100%;
}

.form_content {
  background-color: white;
  border: solid 1px #d4d4d4;
}

.form_field {
  margin: -1px;
}

.error_messages {
  width: 400px;
  margin: 0;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding-bottom: 6px;
    color: #DA4F4F;
    word-wrap: break-word;
  }
}

//FORM DISPLAY PROPERTIES

.formdisp {
  transform: translateY(0);
}

// this hides the create new group button

.hidegrouplink {
  transform: translateX(-188px) !important;
}

// SIDE MENU

.side_menu_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin-top: 1px;
  width: 400px;
  height: calc(100% - 93px);
  right: 0;
  background-color: white;
  z-index: 2;
  box-shadow: -10px 14px 40px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  transform: translate(400px,0);
  transition: transform 0.3s ease;
}

.slide_open {
  transform: translate(0,0);
}

#side_menu_close {
  padding: 6px;
  cursor: pointer;
}

.close_container {
  display: flex;
  align-items: center;
  margin: 0;
  img {
    height: 18px;
    padding: 12px;
    margin-right: 6px;
  }
}

.open_side_menu {
  position: fixed;
  right: 0;
  background-color: white;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.14);
}

.side_menu_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 24px;
  height: 100%;
  width: 100%;
}

.side_menu_top_bar {
  padding: 0 24px 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side_menu_group_event_details {
  margin-bottom: 24px;
}

.event_details_btn {
  cursor: pointer;
}

.side_menu_group_event_photo {
  height: 140px;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

.side_menu_group_info {
  padding: 0 24px 24px 24px;
  border-bottom: solid 1px #d4d4d4;
}

.side_menu_group_members {
  padding-top: 12px;
}

.side_menu_group_members_list {
  display: flex;
  padding-top: 12px;
  .profile_thumbnail {
    margin-left: 12px;
  }
  .profile_thumbnail:first-child {
    padding-left: 0;
    margin-left: 0;
  }
}

.side_menu_chat {
  flex-grow: 1;
  overflow: auto;
  padding-left: 24px;
  padding-top: 24px;
}

.side_menu_back_chat_container {
  padding: 0 24px 0 24px;
  width: 80px;
  overflow: hidden;
}

.side_menu_back_chat {
  display: flex;
  cursor: pointer;
  transform: translateX(400px);
  transition: transform 0.5s ease;
  i {
    padding-right: 12px;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
}

.side_menu_back_chat:hover {
  i {
    transform: translateX(-6px);
  }
}

.back_chat_slide_in {
  transform: translateX(0);
}

.chat_user {
  display: flex;
}

.side_menu_chat_name_msg {
  padding-left: 8px;
  flex-grow: 1;
  padding-right: 24px;
  p {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
}

.side_menu_group_content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.2s ease;
}

.group_slide_out {
  transform: translateX(0);
}

.name_time {
  display: flex;
  justify-content: space-between;
  h5{
    font-weight: 700;
  }
  h5:last-child {
    font-weight: 400;
    color: #7f7f7f;
  }
}

.side_menu_main_content {
  position: absolute;
  background-color: white;
  margin-top: 43px;
  padding-top: 12px;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.2s ease;
  h5 {
    letter-spacing: 1px;
  }
  #groups, #eventrs {
    padding: 12px 0px 12px 24px;
    color: #7f7f7f;
    cursor: pointer;
  }
}

.main_slide_in{
  transform: translateX(-400px);
}

i.fa.fa-comment {
  position: fixed;
  bottom: 24px;
  right: 24px;
  color: #262626;
  background-color: white;
  padding: 12px;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: transform 0.3s ease;
}

i.fa.fa-comment:hover {
  transform: translateX(-6px);
}

.side_menu_main_groups {
  border-bottom: solid 1px #d4d4d4;
  padding-bottom: 12px;
}

.side_menu_main_groups_item {
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 24px;
}

.side_menu_main_groups_item:hover {
  background-color: #f2f2f2;
}

.side_menu_main_eventrs {
  padding: 12px 0 24px 0;
}

.side_menu_main_eventrs_item {
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 24px;
  h5 {
    letter-spacing: 0;
  }
}

.side_menu_main_eventrs_item:hover {
  background-color: #f2f2f2;
}

.main_menu_group_content {
  padding-left: 12px;
  h4 {
    color: #262626;
    letter-spacing: 0;
    font-weight: 400;
  }
  h6{
    color: #262626;
    padding-top: 6px;
  }
}

.side_menu_chat_input {
  background-color: #f8f8f8;
  // position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 67px;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.show_chat {
  transform: translateY(0);
}

.new_message {
  flex-grow: 1;
  margin: 0 24px 0 24px;
  .form-control{
    background-color: #f8f8f8;
  }
}

.map_icon_container {
  display: flex;
  justify-content: center;
  border-right: solid 1px #cccccc;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 67px;
}

#messages {
  overflow-y: auto;
}
