/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require section
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/*GLOBAL*/

html {
  font-family: "Montserrat", "Gotham", "Helvetica", sans-serif;
  color: #262626;
  background-color: #f8f8f8;
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 100px;
}

nav {
  font-size: 16px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

main {
  margin-left: 100px;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7f7f7f;
}

input {
  width: 100%;
}

input:focus {
  outline-width: 0;
}

input[type=text] {
  margin-top: 8px;
  font-size: 16px;
  border: 0;
}

input[type=date] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=time] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=number] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=email] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=password] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

input[type=file] {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 6px;
  border: 0;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  margin: 0;
}

h5 {
  font-size: 12px;
  margin: 0;
}

h6 {
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}

hr {
  position: relative;
  left: -15%;
  width: 140%;
  border-color: #ebebeb;
  margin: 0;
}

.form_field {
  background-color: white;
  padding: 24px;
  border: solid 1px #d4d4d4;
}

/*NAV*/

.logo {
  width: 153px;
  display: inline-block;
}

.nav_links {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  h4 {
    display: inline-block;
    margin: 0;
  }
  a {
    position: relative;
    margin-left: 50px;
    padding-bottom: 4px;
    color: #333333;
    text-decoration: none;
  }
  a:before{
    content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #333333;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before{
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }
  a:hover{
    color: #333333;
  }
}

.profile_thumbnail_wrapper {
  margin-left: 50px;
}

.profile_thumbnail_wrapper > img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#myDropdown {
  top: 100px;
  right: 80px;
  background-color: white;
  border: solid 1px #d4d4d4;
  padding-top: 12px;
  padding-bottom: 12px;
  img {
    width: 23px;
    position: absolute;
    right: 29px;
    top: -11.2px;
  }
  a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  a:hover:before{
    visibility: hidden;
  }
  a:hover {
    background-color: #f2f2f2;
  }
}

#dropdown_profile_link {
  border-bottom: solid 1px #d4d4d4;
}

.show {
  display: flex;
  flex-direction: column;
}

.nav_search {
  display: flex;
  padding-top: 2px;
  img {
    height: 14px;
    padding-right: 12px;
  }
}

.button_to {
  input[type=submit] {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 150px;
  }
}

#search-form {
  height: 20px;
  display: flex;
  align-items: center;
  input[type=text] {
    width: 250px;
    margin: 0;
    letter-spacing: 1px;
    font-family: "Montserrat";
    font-weight: 300;
    padding-bottom: 6px;
    border-bottom: solid 1px #d4d4d4;
  }
  input[type=submit]{
    position: relative;
    font-size: 16px;
    width: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    float: right;
    border: solid 1px #262626;
    cursor: pointer;
  }
}

.button_sm {
  background-color: #262626;
  color: white;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
  a {
    color: white;
  }
}

.button_search {
  height: 90px;
  background-color: #262626;
  display: flex;
  align-items: center;
}

.button_search h4{
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  letter-spacing: 1px;
}

.button_sm, .button_search {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.button_sm:hover, .button_search:hover, input[type=submit]:hover {
  background-color: #595959;
}

.link {
  color: #262626;
}

.link:hover {
  color: #7f7f7f;
}

.form_container {
  margin: auto;
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 900px;
}

.new_event {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  p{
    margin: 0;
  }
}

.invis_temp {
  position: absolute;
  left: 0;
  top: 60px;
  /*display: none;*/
}

#input_name, #input_location, #input_description,
#input_date, #input_image, #input_price, #input_time,
#input_eventstyle, #input_eventstyle {
  padding: 24px;
  border: solid 1px #e0e0e0;
  background-color: white;
  margin-left: -1px;
  margin-bottom: -1px;
}

#input_name {
  flex-basis: 50%;
  flex-grow: 1;
}

#input_location {
  flex-grow: 1;
}

#input_description {
  flex-basis: 50%;
  flex-grow: 1;
}

#input_date {
  flex-basis: 21.7%;
  flex-grow: 1;
}

#input_image {
  flex-basis: max-content;
}

#input_price {
  flex-basis: max-content;
  flex-grow: 1;
}

#input_time {
  flex-grow: 1;
}

#input_eventstyle {
  flex-grow: 1;
  flex-basis: 1;
}

#input_musicstyle {
  flex-grow: 1;
  flex-basis: 1;
}

#input_image_location {
  flex-grow: 1;
}

.input_field p {
  margin: 0;
}

input[type=submit] {
  font-family: "Montserrat";
  font-weight: 400;
  position: relative;
  background-color: #262626;
  color: white;
  font-size: 16px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  border: none;
  cursor: pointer;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.submit {
  flex-basis: 100%;
}

.form_content {
  background-color: white;
  border: solid 1px #d4d4d4;
}

.form_field {
  margin: -1px;
}

.error_messages {
  width: 400px;
  margin: 0;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding-bottom: 6px;
    color: #DA4F4F;
    word-wrap: break-word;
  }
}



//FORM DISPLAY PROPERTIES
.new_group {
  display: none;
}

.formdisp {
  display: inline-block;
}


// this hides the create new group button
.hidegrouplink {
  display: none;
}
