// NAV BAR

@media screen and (max-width:966px){
  .nav_links {
    display: none;
  }
}

@media screen and (max-width:1125px){
  .nav_links {
    display: none;
  }
  .nav_search {
    flex-grow: 1;
    width: auto;
  }
}

@media screen and (max-width:589px){
  .logo {
    display: none;
  }
  .logo_sm {
    display: flex;
  }
  .dropdown_mobile {
    display: block;
  }
}

@media screen and (max-width:307px){
  .nav_search {
    margin-left: 12px;
  }
}

@media screen and (max-width:822px){
  nav {
    padding: 0 24px 0 24px;
  }
}


// HOME PAGE

@media screen and (min-width:416) and (max-width:801px){
  .event_container {
    min-width: inherit;
    max-width: none;
  }
  .event_img {
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width:415px){
  .index_main {
    margin-left: 24px;
    margin-right: 24px;
  }
  .event_container {
    min-width: inherit;
    max-width: none;
  }
}
