/*INDEX*/

#header_image_container {
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  background-image: url("https://static.pexels.com/photos/196652/pexels-photo-196652.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.index_main {
  margin-top: 70px;
}

.header_slider {
  overflow: hidden;
}

#events_near_you {
  display: flex;
  /*margin: auto;*/
  justify-content: space-around;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;

}

.event_container {
  border: solid 1px #ababab;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  min-width: 230px;
  max-width: 292px;
  overflow: hidden;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 50px;
  flex-grow: 1;
}

.event_container:first-child{
  margin-left: 0;
}

.event_container:last-child{
  margin-right: 0;
}

.event_img {
  position: relative;
  height: 170px;
  overflow: hidden;
}

.event_img img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 120%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.event_content {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.event_date {
  display: inline-block;
  text-align: center;
  float: left;
  padding-right: 24px;
}

.event_mon {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.event_day {
  font-size: 24px;
  font-weight: 600;
}

.event_name_time_loc {
  display: inline-block;
  max-width: 183px;
  margin-bottom: 24px;
}

.event_name {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.event_time {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 400;
}

.event_location {
  height: 12px;
  padding-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #7f7f7f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_going {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #ebebeb;
  bottom: 0;
}

.event_going .button_sm{
  right: -24px;
}

.event_going > h6 {
  margin-left: 24px;
}

.event_content p{
  text-transform: uppercase;
  font-size: 14px;
  height: 50%;
}


/*SHOW*/

.events_wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.events {
  height: 347px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event_gen_info {
  width: 70.5%
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_info_wrapper {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  width: 28%;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_gen_info{
  height: 150px;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* EVENT INDEX */

.index_header_container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index_header {
  height: 100%;
  width: 100%;
}

.jlegend {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.jlegend_text {
  text-align: center;
}

.jlegend h3 {
  font-size: 24px;
  color: white;
  font-weight: 400;
  letter-spacing: 6px;
}

.index_header img {
  width: 100%;
  position: relative;
}

.index_search {
  margin: auto;
  position: relative;
  width: 70vw;
  top: -45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border: solid 1px #d4d4d4;*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search_inputs {
  display: flex;
  align-items: center;
  width: 80%;
}

.search_label {
  font-weight: normal;
}

.search_label > h5 {
  color: #7f7f7f;
  font-weight: 400;
  letter-spacing: 1px;
}

.search_field {
  font-weight: normal;
  padding-top: 8px;
}

.search_field h4 {
  font-weight: 400;
}

.search_search {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: solid 1px #d4d4d4;
  width: 25%;
}

.search_where {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: solid 1px #d4d4d4;
  width: 20%;
}

.search_category {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.button_search {
  height: 90px;
  background-color: #262626;
  display: flex;
  align-items: center;
}

.button_search h4{
  color: white;
  background-color: #262626;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  letter-spacing: 1px;
}


/* EVENT SHOW */

.event_show_header {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.event_show_header img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.title_header {
  background-color: white;
  width: 100%;
  display: flex;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.title_header h2{
  margin: 0;
  text-align: left;
}

.title_content {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}

.title_info {
  margin-left: 36px;
}

.event_main_wrapper {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.event_main_info{
  width: 70%;
  float: left;
  font-size: 14px;
}

.event_side_info {
  width: 30%;
  float: left;
}

.event_description_wrapper {
  margin-right: 24px;
}

.event_description {
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_main_wrapper h4 {
  letter-spacing: 1px;
  margin-bottom: 12px;
}

#map {
  height: 300px;
  width: 100%;
}

.event_show_date {
  text-align: center;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 36px;
  border-right: solid 1px #d4d4d4;
}

.event_show_day {
  font-size: 36px;
  font-weight: 600;
  padding-top: 6px;
}

.title_info > h2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title_date {
  font-size: 12px;
}

.title_location {
  font-size: 12px;
  color: #7f7f7f;
}

.groups_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.groups_wrapper {
  margin-right: 24px;
  margin-top: 24px;
}

.groups {
  display: inline-block;
  flex-grow: 1;
  background-color: white;
  width: 30%;
  list-style-type: none;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.groups_content {
  padding: 24px;
}

.groups_content:nth-child(3n-1){
  margin-left: 24px;
  margin-right: 24px;
}

.groups_content ul > li {
  list-style-type: none;
}

.groups_content ul {
  padding-left: 0;
}

.heading_btn {
  display: flex;
  align-items: center;
}

.heading_btn a {
  color: #262626;
  letter-spacing: 1px;
  transition: transform .2s ease-out;
  display: inline-block;
}

.heading_btn a:hover {
  transform: translate(5px,0);
}

.heading_btn > p {
  padding-left: 24px;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin: 0;
}
