// STYLE GUIDE

$border-color: #d4d4d4;
$grey-1: #262626;
$grey-2: #333333;
$grey-3: #595959;
$grey-4: #7f7f7f;
$grey-5: #f2f2f2;

// HOME

// .carousel_container {
//   display: flex;
//   height: 543px;
//   width: 100%;
//   padding-top: 70px;
//   justify-content: center;
//   overflow: hidden;
// }
//
// .carousel {
//   height: 100%;
//   display: inline-flex;
// }
//

.carousel_item_container{
height: 543px;
overflow: hidden;
}

.carousel_item_text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  color: white;
  letter-spacing: 4px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  .button_container {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  .button_sm_outline {
    text-align: center;
    border: solid 2px white;
    width: 200px;
    padding: 15px 0 15px 0;
    h4{
      font-size: 12px;
    }
  }
}

.carousel_item {
  width: 80vw;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  // text-align: center;
}

.owl-carousel {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.owl-nav {
  justify-content: space-between !important;
  width: 100vw;
  color: white;
  position: absolute;
}

#weeknd_text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weeknd_text > h2{
  color: white;
  text-align: center;
}

.starboy {
  font-size: 36px;
  color: white;
  width: 100%;
  text-align: center;
}

.owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-prev, .owl-next {
  padding-left: 12px;
  padding-right: 12px;
}

// INDEX

#header_image_container {
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  background-image: url("https://static.pexels.com/photos/196652/pexels-photo-196652.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.index_main {
  margin-top: 70px;
  h3 {
    padding: 0 6px 0 6px;
  }
  #events_near_you {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: space-between;
    .event_container {
      min-width: 292px;
    }
  }
}

.header_slider {
  overflow: hidden;
}

#events_near_you {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.event_container {
  border: solid 1px #ababab;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  min-width: 230px;
  max-width: 292px;
  overflow: hidden;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 50px;
  flex-grow: 1;
}

.event_container:first-child{
  margin-left: 0;
}

.event_container:last-child{
  margin-right: 0;
}

.event_img {
  position: relative;
  height: 170px;
  overflow: hidden;
}

.event_img img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 120%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.event_content {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.event_date {
  display: inline-block;
  text-align: center;
  float: left;
  padding-right: 24px;
}

.event_mon {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.event_day {
  font-size: 24px;
  font-weight: 600;
}

.event_name_time_loc {
  display: inline-block;
  max-width: 183px;
  margin-bottom: 24px;
}

.event_name {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.event_time {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 400;
}

.event_location {
  height: 12px;
  padding-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #7f7f7f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_going {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #ebebeb;
  bottom: 0;
}

.event_going > h6 {
  margin-left: 24px;
}

.event_content p{
  text-transform: uppercase;
  font-size: 14px;
  height: 50%;
}

// SHOW

.events_wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.events {
  height: 366px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event_gen_info {
  width: 70.5%;
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_info_wrapper {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  width: 28%;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.event_gen_info{
  height: 150px;
  background-color: white;
  height: 150px;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

// EVENT INDEX

.index_header_container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index_header {
  height: 100%;
  width: 100%;
}

.event_index_search_mobile {
  display: none;
  background-color: white;
  position: relative;
  top: -45px;
  margin: 0 100px 0 100px;
  .event_going {
    border: solid 1px #d4d4d4;
    justify-content: flex-end;
  }
}

.event_index_search_filter {
  flex-grow: 1;
}

.jlegend {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: 89px;
}

.jlegend_text {
  text-align: center;
}

.jlegend h3 {
  font-size: 24px;
  color: white;
  font-weight: 400;
  letter-spacing: 6px;
}

.index_header img {
  width: 100%;
  position: relative;
}

.index_search {
  margin: auto;
  position: relative;
  width: 70vw;
  top: -45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border: solid 1px #d4d4d4;*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  input {
    height: 99px;
    padding: 0;
  }
}

.search_inputs {
  display: flex;
  align-items: center;
  width: 80%;
  h4 {
    input{
      height: 20px;
    }
  }
}

.search_label {
  font-weight: normal;
}

.search_label > h5 {
  color: #7f7f7f;
  font-weight: 400;
  letter-spacing: 1px;
}

.search_field {
  font-weight: normal;
  padding-top: 8px;
}

.search_field h4 {
  font-weight: 400;
}

.search_search {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: solid 1px #d4d4d4;
  width: 25%;
}

.search_where {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: solid 1px #d4d4d4;
  width: 20%;
}

.search_category {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.events_all {
  margin-left: 100px;
  margin-right: 100px;
}


// EVENT SHOW

.event_show_header {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.event_show_header img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.title_header {
  background-color: white;
  width: 100%;
  display: flex;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.title_header h2{
  margin: 0;
  text-align: left;
}

.title_content {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}

.title_info {
  margin-left: 36px;
}

.event_main_wrapper {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.event_main_info{
  width: 70%;
  float: left;
  font-size: 14px;
}

.event_side_info {
  width: 30%;
  float: left;
}

.event_description_wrapper {
  margin-right: 24px;
}

.event_description {
  background-color: white;
  padding: 24px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.form_field {
  input[type=checkbox] {
    width: 20px;
  }
}

.event_main_wrapper h4 {
  letter-spacing: 1px;
  margin-bottom: 12px;
}

#map {
  height: 300px;
  width: 100%;
}

#event_show_heading {
  padding-top: 24px;
}

.event_show_date {
  text-align: center;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 36px;
  border-right: solid 1px #d4d4d4;
}

.event_show_day {
  font-size: 36px;
  font-weight: 600;
  padding-top: 6px;
}

.title_info > h2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title_date {
  font-size: 12px;
}

.title_location {
  font-size: 12px;
  color: #7f7f7f;
}

.groups_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  transform: translateY(-379px);
  transition: transform 0.3s ease;
}

.shift {
  transform: translateY(24px);
}

.groups_wrapper {
  margin-right: 24px;
  margin-top: 12px;
  overflow: hidden;
}

.groups {
  display: inline-block;
  flex-grow: 1;
  display: flex;
  flex: 1 0 280px;
  // flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  // width: 30%;
  // min-width: 270px;
  list-style-type: none;
  border: solid 1px #dfdfdf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
}

// Hacky fix for adding 2 ghost groups to fill space
.groups:nth-last-child(-n+2){
  background: rgba(116, 240, 32, 0);
  box-shadow: 0 0 0 rgba(29, 31, 230, 0);
  border: 0;
}

.groups_content {
  height: 255px;
  padding: 24px;
  h4 {
    text-transform: uppercase;;
    letter-spacing: 0;
    a {
      color: #262626;
    }
  }
  p {
    margin-top: 24px;
    line-height: 24px;
    font-size: 12px;
  }
}


.groups_content:nth-child(3n-1){
  margin-left: 24px;
  margin-right: 24px;
}

.groups_content ul > li {
  list-style-type: none;
}

.groups_content ul {
  padding-left: 0;
  display: flex;
  li {
    padding-left: 12px;
  }
  li:first-child {
    padding-left: 0;
  }
}

#group_name{
  a {
    color: $grey-1;
  }
}

.heading_btn {
  margin-top: 24px;
  display: flex;
  align-items: center;
  h4 {
    margin-bottom: 0;
  }
}

.heading_btn a {
  color: $grey-1;
  letter-spacing: 1px;
  transition: transform .2s ease-out;
  display: inline-block;
}

.heading_btn a:hover {
  transform: translate(5px,0);
}

.heading_btn > p {
  padding-left: 24px;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin: 0;
}

.new_group_form_container {
  display: inline-block;
  width: 100%;
  transform: translateY(-379px);
  transition: transform 0.3s ease;
  .form_content {
    background-color: white;
    border: solid 1px #d4d4d4;
    .event_going {
      justify-content: flex-end;
    }
  }
}

.close_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

#closegroupform {
  cursor: pointer;
}

#single_group {
  transform: translateY(0);
  transition: transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}

#create_group_btn_container {
  width: 110%;
  overflow: hidden;
}

// EVENT SHOW - Eventrs Going

.event_show_eventrs_going {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -6px;
  margin-right: -6px;
}

.event_show_eventrs_going_thumbnail {
  list-style-type: none;
  height: 44px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  img {
    border-radius: 50%;
  }
}

// USER PROFILE

.user_profile_wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.user_profile_container {
  width: 600px;
  margin-top: 80px;

}

.user_profile_top {
  background-color: white;
  border: solid 1px $border-color;
}

.user_profile_picture {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: relative;
  top: -24px;
  left: 24px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.user_profile_name {
  display: inline-block;
  position: relative;
  left: 48px;
  bottom: 36px;
  h2{
    margin: 0;
  }
  h5 {
    color: #7f7f7f;
    padding-top: 8px;
    letter-spacing: 1px;
  }
}

.privacy {
  padding-top: 24px;
}

.activity {
  font-weight: 400;
  margin-top: 24px;
  letter-spacing: 1px;
}

.user_profile_bio {
  padding: 24px;
  h5 {
    color: #7f7f7f;
    letter-spacing: 1px;
  }
}

.event_thumbnail {
  height: 124px;
  width: 124px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}

.event_main_info_container {
  display: flex;
  align-items: center;
}

.event_main_info_min {
  margin-left: 24px;
  font-weight: 400;
  h4 {
    font-weight: bold;
  }
  #event_date_min{
    padding-top: 12px;
    font-weight: 400;
  }
  #event_loc_min {
    padding-top: 8px;
    color: #7f7f7f;
    font-weight: 400;
  }
}

// LOG IN

.log_sign_wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log_sign_container {
  height: 516px;
  width: 400px;
  h2{
    text-align: center;
    margin-top: 0;
    font-weight: bold;
  }
}

// USER ACTIVITY

.user_activity_content {
  display: flex;
  .event_content {
    padding: 0;
    margin-left: 24px;
    border-bottom: solid 1px #d4d4d4;
  }
}

.user_profile_activity {
  margin-top: 12px;
  background-color: white;
  border: solid 1px $border-color;
}

.user_activity_events {
  padding: 24px 24px 24px 24px;
  border-bottom: solid 1px #d4d4d4;
  display: flex;
}

.activity_event_img {
  position: relative;
  display: table;
  height: 114px;
  width: 114px;
  overflow: hidden;
  img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.activity_event_name_time_loc_container {
  height: 114px;
  display: flex;
  align-items: center;
}

.activity_event_name_time_loc {

}
